.bullets-card {
  position: relative;
  margin-bottom: 64px;
  @media (max-width: 576px) {
    margin-bottom: 48px;
    text-align: center;
  }
}
.bullets-card::before {
  position: static;
  display: block;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  content: "";
  background-color: transparent;
  border: 1px solid #323232;
  border-radius: 50%;
  @media (max-width: 576px) {
    width: 16px;
    height: 16px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
  }
}
.bullets-card::after {
  position: absolute;
  top: var(--size);
  left: var(--size);
  display: block;
  width: var(--size);
  height: var(--size);
  content: "";
  background-color: #fff;
  --size: 8px;
  border-radius: 50%;
  @media (max-width: 576px) {
    --size: 5px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.bullets-card__title {
  margin-bottom: 16px;
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  @media (max-width: 576px) {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.8;
  }
}
.bullets-card__desc {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #878787;
  @media (max-width: 576px) {
    max-width: 204px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
  }
}
