.bullets-card {
  position: relative;
  margin-bottom: 75px;
  @media (max-width: 1020px) {
    margin-bottom: 48px;
    text-align: center;
  }
}
.bullets-card:last-of-type {
  margin-bottom: 35px;
}
.bullets-card::before {
  position: static;
  display: block;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  content: "";
  background-color: transparent;
  border: 1px solid #323232;
  border-radius: 50%;
  @media (max-width: 1020px) {
    width: 16px;
    height: 16px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
  }
  @media (max-width: 1020px) and (min-width: 576px) {
    margin-left: 0;
  }
}
.bullets-card::after {
  position: absolute;
  top: var(--size);
  left: var(--size);
  display: block;
  width: var(--size);
  height: var(--size);
  content: "";
  background-color: #fff;
  --size: 8px;
  border-radius: 50%;
  @media (max-width: 1020px) {
    --size: 5px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 1020px) and (min-width: 576px) {
    left: var(--size);
    margin-left: 0;
  }
}
.bullets-card__title {
  margin-bottom: 24px;
  font-family: var(--ff-sf);
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  @media (max-width: 1020px) {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.8;
  }
  @media (max-width: 1020px) and (min-width: 576px) {
    text-align: left;
  }
}
.bullets-card__desc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #878787;
  @media (max-width: 1020px) {
    max-width: 204px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
  }
  @media (max-width: 1020px) and (min-width: 576px) {
    margin-left: 0;
    text-align: left;
  }
}
