.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  --size: 24px;
  --icon-color: #323232;
  display: block;
  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  margin-right: 24px;
  fill: var(--icon-color);
  transition: 0.3s;
  @media (max-width: 1020px) {
    --size: 32px;
    margin-right: 36px;
  }
}
.socials__link--has-stroke {
  stroke: var(--icon-color);
}
.socials__icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
}

.socials__link:last-of-type {
  margin-right: 0;
}

.socials__link:hover {
  @media (min-width: $minHover) {
    // --icon-color: #fff;
    --icon-color: #2bccff;
    // fill: var(--c-accent);
    // stroke: var(--icon-color);
  }
}

.socials--big {
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 1020px) {
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
  }
}
.socials--big .socials__link {
  --size: 168px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #474747;
  @media (max-width: 1020px) {
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
  }
  @media (max-width: 374px) {
    --size: 126px;
  }
}
.socials--big .socials__icon {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  --icon-color: #fff;
  @media (max-width: 1020px) {
    width: 36px;
    height: 36px;
  }
}

.socials--big .socials__link::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: #010101;
  transition: all 0.6s ease;
}
.socials--big .socials__link:hover::before {
  @media (any-hover: hover) {
    opacity: 0;
  }
}
.socials--big .socials__link:hover .socials__icon {
  @media (any-hover: hover) {
    // --icon-color: #474747;
    --icon-color: #41a2fc;
  }
}

.socials__link--facebook {
  transform: scale(1.1);
}
