.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  --size: 24px;
  --icon-color: #323232;
  display: block;
  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  margin-right: 24px;
  fill: var(--icon-color);
  transition: 0.3s;
  @media (max-width: 1020px) {
    --size: 32px;
    margin-right: 36px;
  }
}
.socials__link--has-stroke {
  stroke: var(--icon-color);
}
.socials__icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
}

.socials__link:last-of-type {
  margin-right: 0;
}

.socials__link:hover {
  @media (min-width: $minHover) {
    --icon-color: #fff;
    // fill: var(--c-accent);
    // stroke: var(--icon-color);
  }
}

.socials--big {
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 1020px) {
    max-width: 396px;
    margin-right: auto;
    margin-left: auto;
  }
}
.socials--big .socials__link {
  --size: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #474747;
  @media (max-width: 1020px) {
    --size: 96px;
    margin-right: 18px;
    margin-bottom: 24px;
    margin-left: 18px;
  }
}
.socials--big .socials__icon {
  width: 36px;
  height: 36px;
  --icon-color: #fff;
}

.socials--big .socials__link:hover {
  @media (any-hover: hover) {
    background: #fff;
    transition: 0s;
  }
}
.socials--big .socials__link:hover .socials__icon {
  @media (any-hover: hover) {
    --icon-color: #474747;
    transition: 0s;
  }
}
