.food {
  padding-top: 96px;
  padding-bottom: 50px;
  @media (max-width: 1020px) {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}
.food::before {
  position: absolute;
  top: 50%;
  left: -50%;
  display: block;
  width: 720px;
  height: 720px;
  content: "";
  background: #56abf9;
  filter: blur(320px);
  border-radius: 960px;
  opacity: 0.3;
  transform: translateY(-50%);
}
.food__container {
  max-width: 1050px;
}
.food__content {
  display: grid;
  grid-template-columns: 1fr 1.35fr;
  padding-top: 32px;
  @media (max-width: 1020px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
  }
}

.food-offer {
  max-width: 400px;
  padding-top: 125px;
  padding-left: 40px;
  @media (max-width: 1020px) {
    max-width: 325px;
    padding-top: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
.food-offer__title {
  margin-bottom: 32px;
  font-family: var(--ff-sf);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  color: #ffffff;
  @media (max-width: 1020px) {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.food-offer__desc {
  margin-bottom: 16px;
  font-family: var(--ff-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  color: #616e79;
  @media (max-width: 1020px) {
    max-width: 280px;
    margin-right: auto;
    margin-bottom: 13px;
    margin-left: auto;
    font-size: 12px;
  }
}
.food-offer__desc:last-of-type {
  margin-bottom: 0;
}
.food__pic {
  // transform: translateX(-10px);
  @media (max-width: 1020px) {
    max-width: 360px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    transform: none;
  }
}
