.food {
  position: relative;
  z-index: 1;
  padding-top: 96px;
  padding-bottom: 0;
  @media (max-width: 1020px) {
    padding-top: 48px;
  }
}
.food::before {
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 190px;
  left: -24%;
  display: block;
  width: 500px;
  max-width: 99vw;
  height: 500px;
  content: "";
  background: #56abf9;
  filter: blur(330px);
  -webkit-filter: blur(330px);
  border-radius: 960px;
  opacity: 0.3;
  @media (max-width: 576px) {
    width: 230px;
    height: 400px;
  }
}
.food__container {
  max-width: 1050px;
}
.food__content {
  display: grid;
  grid-template-columns: 1fr 1.35fr;
  padding-top: 32px;
  @media (max-width: 1020px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
  }
}

.food-offer {
  max-width: 400px;
  padding-top: 125px;
  padding-left: 40px;
  @media (max-width: 1020px) {
    max-width: 325px;
    padding-top: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
.food-offer__title {
  margin-bottom: 32px;
  font-family: var(--ff-sf);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  color: #ffffff;
  @media (max-width: 1020px) {
    max-width: 280px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 140%;
  }
}
.food-offer__desc {
  margin-bottom: 16px;
  font-family: var(--ff-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  color: #616e79;
  @media (max-width: 1020px) {
    max-width: 280px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    font-size: 12px;
  }
}
.food-offer__desc:last-of-type {
  margin-bottom: 0;
}
.food__pic {
  // transform: translateX(-10px);
  @media (max-width: 1020px) {
    max-width: 280px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    transform: none;
  }
}
