.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  // font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  color: #717171;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.32em;
}
