.header {
  position: relative;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 65px;
  @media (max-width: 1020px) {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1178px;
  padding-right: 20px;
  padding-left: 25px;
  @media (max-width: 1020px) {
    padding-right: 30px;
    padding-left: 34px;
  }
}
