.hero {
  padding-bottom: 28px;
  background-image: url("../img/hero/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.hero__container {
  max-width: 1090px;
}
.hero__heading {
  margin-bottom: 20px;
}
.hero__suptitle {
  margin-bottom: 24px;
  font-size: 36px;
  letter-spacing: 0.32em;
}
.hero__title {
  font-size: 96px;
  line-height: 1;
  letter-spacing: 0.32em;
  transform: translate(17px, 0px);
}

.hero__offer {
  display: grid;
  grid-template-columns: 1fr 270px 325px;
  column-gap: 70px;
  align-items: grid-template;
  justify-content: space-between;
}
.hero__gift {
  padding-top: 40px;
}
.hero__gift .section-text {
  margin-bottom: 16px;
}

.hero__media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 56vh;
}
.hero__video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 330px;
  padding-top: 30px;
}

.hero__video .section-text {
  font-size: 14px;
}
.hero__video-button {
  margin-right: 27px;
}
.hero__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  transform: translate(35px, 4px);
}
