.history {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 98px;
  padding-bottom: 96;
  // opacity: 0;
  @media (max-width: 1020px) {
    padding-top: 64px;
    padding-bottom: 24px;
  }
}
.history::before {
  position: absolute;
  top: 50%;
  left: -50%;
  display: block;
  width: 640px;
  height: 640px;
  content: "";
  background: #56abf9;
  filter: blur(540px);
  border-radius: 960px;
  opacity: 0.6;
  transform: translateY(-50%);
}
.history__container {
  max-width: 1158px;
}
.history__suptitle {
  margin-bottom: 32px;
  // font-size: 24px;
  @media (max-width: 1020px) {
    font-size: 14px;
    line-height: 1.8;
  }
}
.history__title {
  margin-bottom: 48px;
  // font-size: 48px;
  // line-height: 1.4;
  @media (max-width: 1020px) {
    line-height: 1.5;
  }
  @media (max-width: 1020px) and (min-width: 576px) {
    margin-bottom: 32px;
  }
  @media (max-width: 390px) {
    margin-bottom: 282px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

.history__gallery {
  width: 100%;
}
.history__pic {
  display: block;
  height: 672px;
}
.history__pic:first-of-type {
  margin-top: 100px;
}
.history__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.history__gallery-card {
  max-width: 552px;
  margin-bottom: 24px;
}

.history-card {
  padding: 72px;
  padding-right: 68px;
  background: radial-gradient(
        50% 56.34% at 100% 100%,
        rgba(30, 49, 62, 0.5) 0%,
        rgba(22, 42, 55, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        50% 56.34% at 0% 0%,
        rgba(35, 69, 91, 0.5) 0%,
        rgba(35, 69, 91, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #0b0b0b;
  border-radius: 16px;
}
.history-card__title {
  margin-bottom: 24px;
  font-family: var(--ff-sf);
  font-size: 36px;
  line-height: 140%;
}
.history-card__desc {
  max-width: 335px;
  margin-bottom: 24px;
  font-family: var(--ff-sf);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #616f7a;
}
.history-card__desc:last-of-type {
  margin-bottom: 24px;
}
.history-card__caption {
  font-family: var(--ff-sf);
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  color: #ffffff;
}
