.magic {
  padding-top: 53px;
  padding-bottom: 96px;
  @media (max-width: 576px) {
    padding-top: 64px;
    padding-bottom: 40px;
  }
}
.magic__title {
  margin-bottom: 32px;
  @media (max-width: 576px) {
    margin-bottom: 24px;
    line-height: 1.4;
  }
}
.magic__suptitle {
  margin-bottom: 58px;
  line-height: 1.6;
  @media (max-width: 576px) {
    margin-bottom: 32px;
  }
}
