.magic {
  padding-top: 53px;
  padding-bottom: 146px;
  @media (max-width: 1020px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.magic__title {
  margin-bottom: 22px;
  @media (max-width: 1020px) {
    margin-bottom: 14px;
    line-height: 1.1;
  }
}
.magic__suptitle {
  margin-bottom: 60px;
  line-height: 1.7;
  @media (max-width: 1020px) {
    max-width: 340px;
    margin-right: auto;
    margin-bottom: 22px;
    margin-left: auto;
    font-size: 14px;
    line-height: 160%;
  }
}
