.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 96px 156px;
  background-color: #101010;
  border-radius: 0;
}

.poppa__overlay--quiz-feedback .poppa__aligner {
  padding: 0;
}

.quiz-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 888px;
  min-height: 564px;
  padding-top: 72px;
  counter-set: quizQuestion;
  @media (max-width: 1020px) {
    min-width: 280px;
    min-height: initial;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 992px) {
    max-width: 600px;
    padding-top: 0;
  }
  @media (max-width: 576px) {
    max-width: 440px;
  }
  @media (max-width: 440px) {
    max-width: 340px;
  }
  @media (max-width: 375px) {
    max-width: 280px;
  }
}
.quiz-slider__slide {
  height: 100%;
  max-height: 100%;
  counter-increment: quizQuestion;
  background-color: #101010;
}
.quiz-slider__slide::before {
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #646464;
  content: counters(quizQuestion, "", decimal-leading-zero);
}
.quiz-slider__slide--results::before {
  display: none;
}

.quiz .slider__button {
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  white-space: nowrap;
  cursor: pointer;
  @media (max-width: 576px) {
    padding-right: 24px;
    padding-left: 24px;
  }
  @media (max-width: 430px) {
    max-width: 100%;
  }
}

.quiz-slider__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in;
  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
  @media (max-width: 576px) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 430px) {
    flex-direction: column;
    align-items: stretch;
    max-width: 340px;
  }
  @media (max-width: 375px) {
    max-width: 280px;
  }
}

.quiz-slider__button-prev {
  margin-right: 24px;
  @media (max-width: 576px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (max-width: 430px) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.quiz-slider__button-next {
  margin-right: 56px;
  @media (max-width: 576px) {
    margin-right: 0;
  }
  @media (max-width: 430px) {
    order: -1;
    margin-bottom: 12px;
  }
}

.quiz-slider__question {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 150%;
  text-align: left;
  @media (max-width: 1020px) {
    margin-bottom: 18px;
    margin-left: 0;
    font-size: 18px;
  }
}

.quiz-slider__answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.quiz-slider__answers-contacts {
  align-items: stretch;
  margin-top: 213px;
  @media (max-width: 768px) {
    margin-top: 100px;
  }
}
.quiz-slider__answer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  margin-right: 32px;
  margin-bottom: 32px;
  cursor: pointer;
  border: 1px solid #1e1e1e;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    padding: 16px 12px;
    margin-right: 0;
    margin-bottom: 22px;
  }
}
.quiz-slider__answer:last-of-type {
  @media (max-width: 1020px) {
    margin-bottom: 0;
  }
}

.quiz-slider__answer-check {
  display: block;
  width: 12px;
  min-width: 12px;
  height: 12px;
  margin-right: 24px;
  background: #323232;
  transition: all 0.3s ease-in;
  @media (max-width: 1020px) {
    margin-right: 12px;
  }
}
.quiz-slider__answer-input {
  position: absolute;
  width: 1px;
  max-height: 1px;
  opacity: 0;
  appearance: none;
}
.quiz-slider__answer-input:checked ~ .quiz-slider__answer-check {
  background-color: #fff;
}

.quiz-slider__answer-text {
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  @media (max-width: 1020px) {
    font-size: 12px;
  }
}

.quiz-slider__skip {
  max-width: 256px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #646464;
  @media (max-width: 992px) {
    margin-top: 20px;
  }
}

.quiz__input {
  display: inline-block;
  width: 100%;
  max-width: 334px;
  margin-right: 24px;
  @media (max-width: 768px) {
    max-width: 100%;
    margin-right: 0;
    --padding: 24px 12px;
    --fz: 14px;
    --lh: 1.25;
    margin-bottom: 12px;
  }
}
.quiz__submit {
  min-width: 214px;
  padding: 32px 48px;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    padding: 24px 12px;
  }
}
.quiz-slider__code {
  margin-bottom: 72px;
  text-align: left;
  @media (max-width: 1020px) {
    margin-left: 0;
  }
}

.quiz-slider__desc {
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #646464;
  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.quiz-slider__slide--results .quiz-slider__desc:first-child {
  @media (max-width: 576px) {
    // padding-top: 80px;
  }
}

.quiz__close-results {
  width: 100%;
  @media (max-width: 576px) {
    max-width: 100%;
  }
}
