.research {
  position: relative;
  z-index: 2;
  min-height: 1170px;
  padding-top: 56px;
  padding-bottom: 96px;
  overflow-x: hidden;
  transition: all 0.3s ease;
  @media (max-width: 1020px) {
    padding-top: 6px;
    padding-bottom: 56px;
  }
  @media (max-width: 375px) {
    padding-bottom: 28px;
  }
}
.research__container {
  max-width: 1158px;
}

.research__title {
  @media (max-width: 1020px) {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    line-height: 1.1;
  }
}
.research__suptitle {
  margin-bottom: 32px;
  @media (max-width: 1020px) {
    margin-bottom: 12px;
  }
}

.research__cards {
  display: flex;
  align-items: flex-start;
  padding-top: 46px;
  transform: translate3d(0,0,0);
  will-change: transform;
  transition: all 0.3s;
  @media (max-width: 1020px) {
    padding-top: 48px;
  }
}
.os-macos .research__cards {
  will-change: initial;
  transition: initial;
}


.research__cards .card__pic {
  height: 320px;
  @media (max-width: 1020px) {
    height: 264px;
  }
}
.research__cards .card__desc {
  padding-right: 50px;
}

.research__card {
  min-width: 360px;
  margin-right: 24px;
  @media (max-width: 576px) {
    min-width: 264px;
  }
}

.research__cards-scroller {
  position: relative;
}
.research__cards-scroller::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20vw;
  z-index: 0;
  display: block;
  width: 370px;
  max-width: 99vw;
  height: 370px;
  margin: auto;
  content: "";
  background: #56abf9;
  filter: blur(230px);
  -webkit-filter: blur(230px);
  border-radius: 960px;
  opacity: 0.4;
  transform: translate3d(0, 0, 0);
  @media (max-width: 576px) {
    width: 230px;
    height: 400px;
  }
}
