.research {
  padding-top: 106px;
  padding-bottom: 96px;
  @media (max-width: 576px) {
    padding-top: 46px;
    padding-bottom: 56px;
  }
}
.research__container {
  max-width: 1158px;
}

.research__title {
  @media (max-width: 576px) {
    font-size: 24px;
    line-height: 1.4;
  }
}
.research__suptitle {
  margin-bottom: 32px;
  @media (max-width: 576px) {
    margin-bottom: 26px;
  }
}

.research__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  padding-top: 46px;
  @media (max-width: 576px) {
    padding-top: 31px;
  }
}

.research__cards .card__pic {
  height: 320px;
  @media (max-width: 576px) {
    height: 236px;
  }
}
.research__cards .card__desc {
  padding-right: 50px;
}
