.try {
  padding-top: 90px;
  padding-bottom: 100px;
  @media (max-width: 1020px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.try__content {
  display: grid;
  grid-template-columns: 1.2fr 0.88fr;
  column-gap: 60px;
  max-width: 1070px;
  padding-top: 48px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
  }
}

.try__title br {
  display: initial;
}
.try__suptitle {
  @media (max-width: 1020px) {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.8;
  }
  br {
    display: initial;
  }
}
.try__pic {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1021px) {
    min-height: 700px;
  }
  @media (max-width: 576px) {
    max-width: 168px;
    margin-bottom: -24px;
  }
}
.try__img {
  display: block;
  margin-left: auto;
  @media (max-width: 576px) {
    margin-right: auto;
  }
}
.try__bullets {
  max-width: 370px;
  padding-top: 120px;
  margin-right: auto;
  @media (max-width: 1020px) {
    padding-top: 0;
    margin-left: auto;
  }
  @media (max-width: 576px) {
    max-width: 340px;
  }
}

.try__button-feedback {
  @media (max-width: 1020px) {
    display: flex;
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
  }
}
