.try {
  padding-top: 38px;
  padding-bottom: 50px;
  @media (max-width: 1020px) {
    padding-top: 56px;
    padding-bottom: 64px;
  }
}
.try__content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  column-gap: 90px;
  max-width: 888px;
  padding-top: 48px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
  }
}

.try__suptitle {
  @media (max-width: 1020px) {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.8;
  }
}
.try__pic {
  @media (max-width: 576px) {
    max-width: 216px;
  }
}
.try__img {
  display: block;
  max-width: 83.2%;
  margin-left: auto;
  @media (max-width: 576px) {
    max-width: 100%;
    margin-right: auto;
  }
}
.try__bullets {
  max-width: 310px;
  padding-top: 102px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1020px) {
    padding-top: 0;
  }
}

.try__button-feedback {
  @media (max-width: 1020px) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
