.section-suptitle {
  display: block;
  margin-bottom: 20px;
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  background: linear-gradient(90deg, #ffffff 0%, #838383 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  @media (max-width: 1020px) {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.8;
    br {
      display: none;
    }
  }
}
.section-title {
  display: block;
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.24em;
  background: linear-gradient(90deg, #ffffff 0%, #838383 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  @media (max-width: 1020px) {
    font-size: 28px;
    br {
      display: none;
    }
  }
  @media (max-width: 1020px) and (min-width: 577px) {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 375px) {
    font-size: 18px;
  }
}

.section-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  /* identical to box height, or 21px */
  color: #646464;
}
.section-text-bold {
  margin-bottom: 12px;
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  letter-spacing: 0.32em;
}

.section-text--strike {
  -webkit-text-fill-color: #a0a0a0;
  // position: relative;
  text-decoration: line-through;
}
