/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

@import "./variables";
@import "./mixins";
@import "./components";

// Шрифты
@include font(
  "RF Dewi Extended",
  normal,
  300,
  "../resources/fonts/RFDewiExtended-Light"
);
@include font("Inter", normal, 400, "../resources/fonts/Inter-Regular");
@include font(
  "RF Dewi Extended",
  normal,
  600,
  "../resources/fonts/RFDewiExtended-Semibold"
);
@include font(
  "RF Dewi Extended",
  normal,
  700,
  "../resources/fonts/RFDewiExtended-Bold"
);

// Сброс CSS
@import "./reset";

body {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $text-primary;
  background-color: #010101;
}
body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;

  & > .content {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
  }
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
// [class*="__container"] {
//   @if ($max-width-container > 0) {
//     box-sizing: content-box;
//     max-width: $max-width-container;
//     margin: 0 auto;
//   }
//   @if ($container-padding > 0) {
//     padding: 0 var(--container-padding);
//   }

//   @media (max-width: $tablet) {
//     --container-padding: 30px;
//   }

//   @media (max-width: $mobile-l) {
//     --container-padding: 20px;
//   }

//   @media (max-width: $mobile-m) {
//     --container-padding: 16px;
//   }
// }
.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.gtc-2 {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}

// Библиотеки
@import "./libs/animate";
@import "./libs/swiper";
@import "./libs/custom-select";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";

// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/hero";
@import "./sections/try";
@import "./sections/testimonials";
@import "./sections/history";
@import "./sections/features";
@import "./sections/care";
@import "./sections/video";
@import "./sections/food";
@import "./sections/gift";
@import "./sections/magic";
@import "./sections/research";
@import "./sections/map";
@import "./sections/footer";
@import "./sections/quiz";

// Стили для отдельных страниц
// @import "./pages/";

._only-mobile {
  display: none;
  @media (max-width: 576px) {
    display: initial;
  }
}

// .scroll-wrapper {
//   position: relative;
// }
// .scroll-wrapper > div {
//   position: sticky;
//   top: 0;
// }

// @media (max-width: 1020px) {
//   .h-scroller {
//     width: calc(100% + 30px);
//     padding-bottom: 20px;
//     margin-left: -15px;
//     overflow: hidden;
//   }
//   .h-scroller > div {
//     padding-left: 15px;
//     margin-bottom: -40px;
//     overflow-y: auto;
//   }
// }

// .h-scroller div::after {
//   @media (min-width: 577px) {
//     display: block;
//     min-width: 200px;
//     height: 200px;
//     content: "";
//   }
// }

.poppa .input {
  @media (max-width: 1020px) {
    margin-bottom: 12px;
  }
}
.poppa {
  background-color: #101010;
  border-radius: 0px;
}

.poppa .poppa__button {
  padding-right: 10px;
  padding-left: 10px;
}
.poppa__closer {
  background-color: transparent;
}
.poppa__closer::before,
.poppa__closer::after {
  border-radius: 0;
}

.poppa__closer:hover::before,
.poppa__closer:hover::after {
  // @media (any-hover: hover) {
  background-color: #fff;
  // }
}

.section__fader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #010101;
  transition: all 0.3s ease;
}

.is-hidden {
  opacity: 0;
}
